@model ASPNET_Core_2_1.Models.ListIsci


@{
    ViewData["Title"] = "YeniForma";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-7">
            <form asp-controller="Forms" asp-action="YeniForma" method="post">

                <p>Insert etmek ucun yaz knopkasini basin</p>
                @if (Model.ISC == null)
                {
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">IDN</label>

                        <div class="col-lg-10">
                            <input name="idn" class="form-control " readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Ad</label>

                        <div class="col-lg-10">
                            <input name="ad" class="form-text"> <span class="form-text m-b-none">Adinizi bura daxil edin.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Soyad</label>

                        <div class="col-lg-10">
                            <input name="soyad" class="form-text"><span class="form-text m-b-none">Soyadinizi bura daxil edin.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yas</label>

                        <div class="col-lg-10">
                            <input name="yas" class="form-text"><span class="form-text m-b-none">Yasinizi bura daxil edin.</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">IDN</label>

                        <div class="col-lg-10">
                            <input name="idn" class="form-control" value=@Model.ISC.id  readonly >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Ad</label>

                        <div class="col-lg-10">
                            <input name="ad" class="form-control  background-color:#666" value=@Model.ISC.firstname> <span class="form-text m-b-none">Adinizi bura daxil edin.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Soyad</label>

                        <div class="col-lg-10">
                            <input name="soyad" class="form-control" value=@Model.ISC.lastname><span class="form-text m-b-none">Soyadinizi bura daxil edin.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yas</label>

                        <div class="col-lg-10">
                            <input name="yas" class="form-control" value=@Model.ISC.yas><span class="form-text m-b-none">Yasinizi bura daxil edin.</span>
                        </div>
                    </div>
                }
                @*<div class="float-right">*@
                <div class="form-group row float-right">
                    <div class="col-lg-20">
                        <button name="prs" class="btn btn-sm btn-white" type="submit" value="insert">Yaz</button>
                        <button name="prs" class="btn btn-sm btn-white" type="submit" value="update">Deyis</button>
                        <button name="prs" class="btn btn-sm btn-white" type="submit" value="delete">Sil</button>
                        <button name="prs" class="btn btn-sm btn-white" type="submit" value="refresh">Yenile</button>
                    </div>
                </div>
                @*</div>*@
            </form>
        </div>

    </div>


    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Basic Table</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Yas</th>
                            <th>Secim</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ASPNET_Core_2_1.Models.Isci r in Model.LI) {
                        <tr>
                            <td>@r.id</td>
                            <td>@r.firstname</td>
                            <td>@r.lastname</td>
                            <td>@r.yas</td>
                            @*<td><button href="@Url.Action("YeniForma","Forms",new { name=@r.firstname })" class="btn btn-sm btn-white"></button></td>*@
                            <td><a href="@Url.Action("YeniForma","Forms",new { idn=@r.id })" class="btn btn-sm btn-white">Sec</a></td>
                        </tr>
                                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
}

@section Scripts {
    <environment names="Development,Staging,Productio">
        <script src="~/lib/iCheck/icheck.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}


